* {
  box-sizing: border-box;
  font-family: "Fuzzy Bubbles", sans-serif;
}

body {
  margin: 0;
}

header,
footer {
  text-align: center;
  background-color: #645431;
  padding: 30px 0;
}

h1 {
  margin: 0;
  font-family: "Rubik Moonrocks", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  font-family: "Slackey", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #645431;
}

.scenario p {
  font-size: 18px;
}

.game {
  display: flex;
  justify-content: space-around;
}

#poop-counter {
  font-family: "Slackey", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #645431;
}

#poop-clicker {
  margin-left: 80px;
  padding: 10px 10px 0px;
  background-color: #fff;
  font-size: 60px;
  color: #645431;
  cursor: pointer;
  border: 10px solid #645431;
  border-radius: 30px;
}

#poop-clicker:active {
  position: relative;
  top: 1px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  padding: 20px;
  border: 3px solid #645431;
  border-radius: 20px;
}

.shop h3 {
  margin: 0;
}

.game-infos {
  margin-top: 60px;
}

footer p {
  color: #fff;
}
